[user]
	name = OdaDaisuke
	email = hinopon25@gmail.com

[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = auto

[color "branch"]
	current = green
	remote = yellow

[push]
	default = current

[core]
	excludesfile = ~/.gitignore_global
	autosrlf = input
	editor = /usr/bin/vim

[help]
	autocorrect = 1
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
