[user]
	name = DaisukeOda
	email = hinopon25@gmail.com

[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = auto

[color "branch"]
	current = green
	remote = yellow

[push]
	default = current

[core]
	excludesfile = ~/.gitignore_global
	autosrlf = input

[help]
	autocorrect = 1
